h1 {
    position: absolute;
    width: 98.75%;
    text-align: center;
    color: #fff;
    top: 260px;
    font-family: Lobster, serif;
    font-size: 50px;
    background-color: #472314;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container {
    border: 2px solid #c8a094;
    padding: 10px;
    margin: 10px auto;
  }

  h2 {
    color: #472314;
    text-align: center;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
  }
  
  .color-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50%;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
  }

  .green {
    background-color: #646235;
  }

  .yellow {
    background-color: #fcc350;
  }

  .orange {
    background-color: #c46203;
  }

  .beige {
    background-color: #c8a094;
  }

  .brown {
    background-color: #472314;
  }

  .font-panel {
    width: 49%;
    display: inline-block;
  }

  .font-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .font-label {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lobster {
    font-family: Lobster, serif;
    background-color: #c46203;
    color: #fff;
  }

  .quicksand {
    font-family: Quicksand, sans-serif;
    background-color: #fcc350;
    color: #fff;
  }

  .text-panel h1 {
    position: static;
    background-color: #fff;
    text-align: left;
    color: #646235;
  }
  
  .text-panel h2 {
    text-align: left;
    font-weight: 500;
    font-size: 22px;
    font-family: Quicksand, sans-serif;
    color: #646235;
  }
  
  .text-panel p {
    font-weight: 300;
    font-family: Quicksand, sans-serif;
    color: #646235;
  }

  li {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #646235;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  button {
    display: inline-block;
    height: 100px;
    width: 200px;
    margin: 20px;
    border: 1px solid #fff;
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fff;
  }

  button:hover {
    cursor: pointer;
  }

  .button-one {
    background-color: #c8a094;
  }

  .button-one:active {
    background-color: #fff;
    border: 1px solid #c8a094;
    color: #c8a094;
  }

  .button-two {
    background-color: #646235;
  }

  .button-two:active {
    background-color: #fff;
    border: 1px solid #646235;
    color: #fff;
  }

  .button-three {
    background-color: #472314;
  }

  .button-three:active {
    background-color: #fff;
    border: 1px solid #472314;
    color: #fff;
  }

  footer {
    font-family: Quicksand, sans-serif;
    color: #472314;
    text-align: center;
  }